# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# VSCode
.vscode/

# IntelliJ IDEA / JetBrains
.idea/
*.iml
*.iws
*.ipr
out/

# Node / Logs (se aplicável futuramente)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos temporários do Microsoft Word / Office
~$*.docx